<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  	<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 90%;
      margin: auto;
  }
  </style>
  <style type="text/css">
  /*table.padded-table-3 td { padding:20px 110px 10px 12px; }*/

table.padded-table-3 td { padding:10px 5px 5px 6px; }
</style>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row">
			<div class="col-xs-12">
			
	<div class="jumbotron">
					
	<div class="container">

  <br/>
<form id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "/"
     method    =  "post"
>    <div align="center"><h2>Business Catalog</h2></div>
<table  border="0" class="padded-table-3">
    <tr><td>Primary Contact:</td><td> <input type="TEXT" name="primary_contact" value="" placeholder="Enter contact number"></td></tr>
<tr><td>Company Logo:</td><td><input type="file" name="company_logo"/></td></tr>
<tr><td>Company Name:</td><td> <input type="TEXT" name="company_name" value="" placeholder="Enter a company name"></td></tr>
<tr><td>Tag Line:</td><td> <input type="TEXT" name="tag_line" value="" placeholder="Enter the tag line of your company"></td></tr>

<tr><td>Promotional Video:</td><td> <input type="TEXT" name="promotional_video" value="" placeholder="paste a link from the browser"></td></tr>

<tr><td>Facility Photo: (maximum 4 photos)</td></tr>
<tr><td></td><td><input type="file" name="image1"/></td><td><input type="file" name="image2"/></td></tr>
<tr><td></td><td><input type="file" name="image3"/></td><td><input type="file" name="image4"/></td></tr>
<!-- <tr><td></td><td><input type="file" name="image5"/></td><td><input type="file" name="image6"/></td></tr> -->

<tr><td>Website:</td><td> <input type="TEXT" name="website" value="" placeholder="Enter the web link"></td></tr>
<tr><td>Address:</td><td> <input type="TEXT" name="address" value="" placeholder="Enter the place and pin"></td></tr>
<tr><td>Audio Testimonal:</td><td><input type="file" name="audio_testimonial"/></td></tr>

      <tr><td></td><td><input type="submit" name="submit" value="Save"></td></tr></table>
</form>
  
	</div>
	</div>
	

 

 			

			</div>

		</div>

	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>






