<!DOCTYPE html>
<html>
<head>
<title>My Show a Entertainment Category Flat Bootstarp responsive Website Template | Home :: w3layouts</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link rel="stylesheet" href="css/menu.css" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="My Show Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='//fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<!-- start menu -->
<link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
<link rel="stylesheet" href="css/font-awesome.min.css" />
<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
		    <script type="text/javascript">
			    $(document).ready(function () {
			        $('#horizontalTab').easyResponsiveTabs({
			            type: 'default', //Types: default, vertical, accordion           
			            width: 'auto', //auto or any width like 600px
			            fit: true   // 100% fit in a container
			        });
			    });
</script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
				});
			});
		</script>



		  <style type="text/css">
table.padded-table-3 td { padding:20px 110px 10px 12px; }
</style>




<!---- start-smoth-scrolling---->

</head>
<body>
	<!-- header-section-starts -->
		<div class="header-top-strip">
			<div class="container">
				
	


<script>
$('#myModal').modal('show');
</script>
</div>
			
		</div>
			<% sql.forEach(function(field){ %>
		<div class="container">
		  <div class="main-content">
			<div class="header">
				<div class="logo">
					<img src=<%= image_path %><%= field.company_logo %> alt=<%= field.company_name %>/> 
					<!-- <a href="index.html"><h1><%= field.company_name %></h1></a> -->
				</div>
			
				<div class="clearfix"></div>
			</div>
	<div class="bootstrap_container">
            <nav class="navbar navbar-default w3_megamenu" role="navigation">
                <div class="navbar-header">
          			<button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"><i class="fa fa-home"></i></a>
				</div><!-- end navbar-header -->
        
            <div id="defaultmenu" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
<!--                     <li class="active"><a href="#">Home</a></li>	
 -->          <!--           <li ><a class="btn btn-primary btn-xlg" href="tel:713-992-0916" style="padding:20px;background-color:rgba(0,0,238,.5)">
   Click to Call <span class="glyphicon glyphicon-earphone" style="padding-left:10px; padding-right:10px;"></span>713-992-0916
</a></li> -->
                    <!-- Mega Menu -->
					
				</ul><!-- end nav navbar-nav navbar-right -->


				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><img src="Phone-icon.png"><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown">
                            	<a class="btn btn-primary btn-xlg" href="tel:<%= field.primary_contact %>" style="color:blue">
  <%= field.primary_contact %>
</a>

                            </li>

                        </ul>
					</li>
					<li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><img src="location.png"><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown">
                            				<div class="map">

    <iframe src="https://www.google.com/maps?q=<%= field.address %>&output=embed" width="100%" height="200" frameborder="0" style="border:0"></iframe>


</div>

                            </li>

                        </ul>
					</li>
				</ul><!-- end nav
			</div><!-- end #navbar-collapse-1 -->
            
			</nav><!-- end navbar navbar-default w3_megamenu -->
		</div><!-- end container -->
    

<!-- AddThis Smart Layers END -->
	

	<div class="main-banner">
		 <div class="banner col-md-8">
						
							<!-- <iframe width="480" height="390"
src="https://www.youtube.com/embed/zAlX1V3lK5s" frameborder="0" allowfullscreen>
</iframe> -->

<!-- <iframe 
src=<%= field.promotional_video %> frameborder="0" allowfullscreen>
</iframe> -->

<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src=<%= field.promotional_video %> width="100%" allowfullscreen height="390"></iframe>
</div>


			
						
						<!-- <li>
							<img src="images/pic2.jpg" class="img-responsive" alt="" />					

	</li>
						<li>
							<img src="images/pic3.jpg" class="img-responsive" alt="" />
					
						</li>
						<li>
							<img src="images/pic4.jpg" class="img-responsive" alt="" />
						</li> -->
				 
					
				 <!-- FlexSlider -->
				 <script defer src="js/jquery.flexslider.js"></script>
				 <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
					<script type="text/javascript">
				$(function(){
				 SyntaxHighlighter.all();
				});
				$(window).load(function(){
				  $('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
					  $('body').removeClass('loading');
					}
				 });
				});
			 </script>
         </div>
	<!-- 	 <div class="col-md-4 banner-right">
			<h4>Details</h4>
	
			<div id="myTabContent" class="tab-content">
			  <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">				  
                    <div class="fleft">
                    <div class="table-responsive">

                     <table class="table">
                     	<tr><td>Primary Contact</td><td><%= field.primary_contact %></td></tr>
                     	<tr><td>Company Name</td><td><%= field.company_name %></td></tr>
                     	<tr><td>Tag Line</td><td><%= field.tag_line %></td></tr>
                     	<tr><td>Website</td><td><%= field.website %></td></tr>
                     	<tr><td>Address</td><td><%= field.address %></td></tr>
                     	
                     </table>
                 </div>
                    </div>
	
			  </div>
			  		  
			</div>
		   </div> -->
		
		 <div class="clearfix"></div>
	</div>
				<div class="review-slider">
			 <ul id="flexiselDemo1">
			<li>
				<img src=<%= image_path %><%= field.facility_photo1 %> alt=""/></a>
				
			</li>
			<li>
				<img src=<%= image_path %><%= field.facility_photo2 %> alt=""/></a>
				
			</li>
			<li>
				<img src=<%= image_path %><%= field.facility_photo3 %> alt=""/></a>
				
			</li>
			<li>
				<img src=<%= image_path %><%= field.facility_photo4 %> alt=""/></a>
				
			</li>


		</ul>
			<script type="text/javascript">
		$(window).load(function() {
			
		  $("#flexiselDemo1").flexisel({
				visibleItems: 5,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,    		
				pauseOnHover: false,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: { 
					portrait: { 
						changePoint:480,
						visibleItems: 2
					}, 
					landscape: { 
						changePoint:640,
						visibleItems: 3
					},
					tablet: { 
						changePoint:800,
						visibleItems: 4
					}
				}
			});
			});
		</script>
		<script type="text/javascript" src="js/jquery.flexisel.js"></script>	
		</div>
			
		
			<div class="clearfix"></div>
			<div class="col-md-12">
			<div class="footer-right">
				
								<div class="subscribe">
					<h5 class="f-head">Website</h5>
					<a href="<%= field.website %>"><%= field.website %></a>
					<div class="clearfix"></div>
				</div>
				<div class="follow-us">
					<h5 class="f-head">Follow us</h5>
					<ul class="social-icons">
						<li><a href="https://www.facebook.com/SmarterSMB" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-youtube"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li> -->
	
					</ul>
					<div class="clearfix"></div>
				</div>
				
					<div class="clearfix"></div>
			</div>
			</div>
			<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
				<div class="copy-rights text-center">
				<p><a href="http://www.smarter-biz.com/terms" target ="_blank">Disclaimer</a>| powered by <a href="https://play.google.com/store/apps/details?id=com.smartersmb.smarterbiz" target ="_blank">SmarterSMB</a> </p>
			</div>	
	</div>
 <script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
			
		  <% }) %>	
</body>
</html>